.rental {
  height: 450px;
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  width: 75px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

table tbody, table thead
{
  display: block;
}

table tbody
{
  overflow: auto;
  height: 300px;
}

table {
  margin-top: 30px;
  width: 630px; /* can be dynamic */
}
